extends layout/index.pug

block styles 
    link(rel="stylesheet" href="/css/homePage.css")

block content
    //- Highlights Section
    section.section__highlights
        .section__head
            .page__wrapper
                h2 Trending Today
        .section__main
            div.scroller__container(data-role="smooth_scroller")
                ul.list--noStyle.scroller__list(data-role="scroll_list")
                    each ttl in highlights
                        li.scroller__item(data-role="scroll_item")
                            .highlight
                                .highlight__graphics
                                    .highlight__brackdrop
                                        picture
                                            source(media="(max-width:639px)" srcset= ttl.backdropSm)
                                            source(media="(min-width:640px)" srcset= ttl.backdropLg)
                                            img(src= ttl.backdropLg alt= `backdrop graphic for '${ttl.title}'`)
                                    .highlight__poster
                                        .page__wrapper
                                            .highlight__image--poster
                                                picture
                                                    source(media="(max-width: 639px)" srcset= ttl.posterSm)
                                                    source(media="(min-width: 640px)" srcset= ttl.posterLg)
                                                    img(src= ttl.posterLg alt=`poster art for '${ttl.title}'`)       
                                .highlight__details
                                    .page__wrapper
                                        span= ttl.title
                                        span= "(" + ttl.releaseYear + ")"               
                                a.highlight__anchor(href= `/title/${ttl.mediaType}/${ttl.tmdbId}`)
                .scroller__button.scroller__button--left
                    button(type="button" name="scroll_left" aria-label="scroll left")
                .scroller__button.scroller__button--right
                    button(type="button" name="scroll_right" aria-label="scroll right")

block scripts
    script(src="/js/smoothScroller.js" type="text/javascript")
    script(src="/js/homePage.js" type="text/javascript")