extends layout/index.pug

block content
    section
        .section__head.section__head--title
            .page__wrapper
                h2= title.title
                span= "(" + title.releaseYear + ")"
        .section__main--title
            .page__wrapper
                .title
                    .title__main
                        .title__video
                            if video.key
                                div(id="video_iframe" data-src= video.key)
                        .title__poster
                            picture(id="poster_picture")
                                source(media="(max-width:639px)" srcset= title.posterSm)
                                source(media="(min-width:640px)" srcset= title.posterLg)
                                img(src= title.posterLg alt= `Movie poster for '${title.title}'`)
                        .title__summary
                            p= title.summary
        .section__main.section__main--gray
            .page__wrapper
                .title__actions
                    .title__ratings
                        .title__rating--average
                            .rating__wrapper
                                span.rating__icon
                                    include ./includes/iconStar
                                span.rating__value
                                    span= title.voteAverage
                        .title__rating--user 
                            if isAuth
                                input(type="hidden" value= userRating id="hdn_user_rating")
                                select(name="slct_rating" data-id= title.tmdbId data-type= mediaType)
                                    each num in [-1, 10, 9, 8, 7, 6, 5, 4, 3, 2, 1, 0]
                                        if num == -1
                                            option(value= num disabled selected) Rate
                                        else 
                                            option(value= num)= num
                            else
                                a.title__anchor--rate(href="/user/auth/signin") Sign in to rate
                    .title__button--watchlist
                        if isAuth
                            if isWatchlisted
                                a(href='/watchlist') See my watchlist
                            else
                                button(type="button" name="btn_watchlist_add" 
                                    data-id= title.tmdbId data-type= mediaType) Add to watchlist
                        else 
                            a(href='/user/auth/signin') Add to watchlist
block scripts
    script(src="/js/titlePage.js" type="text/javascript")
    script(src="https://www.youtube.com/iframe_api" type="text/javascript" defer="true")