extends layout/index.pug

block headStyles
    link(rel="stylesheet", href="/css/title.css")

block content
    .title__header.title__section
        .content__wrapper
            .flex__wrapper--row 
                h2= details.title
                if details.release_year != ''
                    span= "(" + details.release_year + ")"
    .title__overview.title__section
        .content__wrapper
            .flex__wrapper--row
                .title__poster
                    img(src= details.poster_path, alt= "poster image for \"" + details.title + "\"")
                .title__summary
                    p= details.overview
                    .title__watchlist
                        if !details.isWatchlisted
                            button.watchlist__button--add(type="button", name="watchlist_add", data-id= details.id) Add to Watchlist
                        else
                            span (on watchlist)
    .title__ratings.title__section
        .content__wrapper
            .flex__wrapper--row
                .ratings__average
                    span= details.vote_average
                .ratings__userRating
                    span= details.user_rating
                    ul.list--noStyle
                        li
                            button(type="button", name="rating", data-value="1", data-id= details.id, aria-label="Rate title width 1 star") 1
                            button(type="button", name="rating", data-value="2", data-id= details.id, aria-label="Rate title width 2 stars") 2
                            button(type="button", name="rating", data-value="3", data-id= details.id, aria-label="Rate title width 3 stars") 3
                            button(type="button", name="rating", data-value="4", data-id= details.id, aria-label="Rate title width 4 stars") 4
                            button(type="button", name="rating", data-value="5", data-id= details.id, aria-label="Rate title width 5 stars") 5
            
block scripts
    script(src="/js/title.js" type="text/javascript")