extends layout/index.pug

block content
    .titleList
        .page__wrapper
            ul.titleList__list
                each ttl in titles
                    li.titleList__item
                        .titleList__poster
                            picture
                                source(media="(max-width: 639px)" srcset= ttl.posterSm)
                                source(media="(min-width: 640px)" srcset= ttl.posterLg)
                                img(src= ttl.posterLg alt=`poster art for '${ttl.title}'`)
                        .titleList__details
                            span= ttl.title
                            span= "(" + ttl.releaseYear + ")"
                        a(href= `/title/${ttl.mediaType}/${ttl.tmdbId}`)
                        
